# Python
backend/venv/
__pycache__/
*.pyc
.env
leaks-report.json
.venv

# Node / Next.js
frontend/node_modules/
frontend/.next/
frontend/out/˝
.DS_Store

# Hardware/OS
.vscode/
.idea/

# SceneShift Assets
backend/assets/
backend/app/db/data/*.json
